/* Write your CSS here */
.app-container {
  padding: 60px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.name-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 50px;
  width: 100%;
  height: 26vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 48px;
}
.name {
  font-family: 'Roboto';
  color: #475569;
  font-size: 35px;
  margin-left: 38px;
}
.paragraph {
  color: #475569;
  font-size: 20px;
  font-family: 'Roboto';
  margin-left: 38px;
}
.money-manager-heading {
  color: #0b69ff;
  font-weight: 600;
}

.add-transaction-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 35%;
  border-style: solid;
  border-width: 1px;
  border-color: #cbd5e1;
  border-radius: 25px;
}
.add-transaction-heading {
  color: #334155;
  font-size: 25px;
  font-family: 'Roboto';
  margin-bottom: 30px;
}
.label {
  color: #7e858e;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 8px;
  font-weight: 500;
}
.input-element {
  color: #1e293b;
  font-size: 16px;
  font-family: 'Roboto';
  padding: 12px;
  height: 45px;
  margin-bottom: 25px;
  outline: none;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 18px;
  height: 45px;
  width: 90px;
  border-width: 0px;
  border-radius: 10px;
}
.add-history-container {
  display: flex;
}
.history-container {
  width: 55%;
  border-style: solid;
  border-width: 1px;
  border-color: #cbd5e1;
  border-radius: 25px;
  padding: 50px;
  margin-left: 170px;
}
.title-amount-type-container {
  color: #334155;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbd5e1;
  display: flex;
  padding: 8px;
  width: 90%;
}
.title-row {
  color: #334155;
  margin-left: 20px;
}
.amount-row {
  margin-left: 150px;
}
.type-row {
  margin-left: 150px;
}
.history-item-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  margin-top: 0px;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding: 25px;
  }
  .name-container {
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24vh;
    margin-bottom: 25px;
  }
  .name {
    font-size: 30px;
    margin-left: 0px;
    text-align: center;
  }
  .paragraph {
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
  }
  
  .add-transaction-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  .add-history-container {
    display: flex;
    flex-direction: column;
  }
  .history-container {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
  }
  .title-amount-type-container {
    width: 100%;
    font-size: 16px;
  }
  .title-row {
    margin-left: 0px;
  }
  .amount-row {
    margin-left: 30px;
  }
  .type-row {
    margin-left: 30px;
  }
  .history-item-container {
    width: 100%;
  }
}
